
html{
    scroll-behavior: smooth;
}

.header{
    background: #3498db;
  
}
.header img{
    width: 130px;
}

.menu-item{
    padding-left: 0;
    margin-bottom: 0;
}
.menu-item li{
    display: inline-block;
    list-style: none;
    margin-left: -4px;
}
.menu-item li a{
    display: inline-block;
    padding: 10px 30px;
    border-right: 1px solid #ddd;
    color: white;
    line-height: 23px;
    font-size: 22px;
    text-decoration: none;
}
.menu-item li:first-child a{
    border-left: 1px solid #ddd;
}
.menu-item li a:hover{
    background: #2980b9;
}

.banner{
    background-image: url(img/banner.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    position: relative;
}
.banner-text{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(32, 33, 33, .3);
    bottom: 0;
    right: 0;
}
.banner-text h2 {
    background: rgba(66, 118, 237,.3);
    display: inline-block;
    padding: 0 26px;
    border-radius: 5px;
    font-size: 30px;
    font-style: italic;
    color: white;
    text-transform: capitalize;
    margin-top: 150px;
}
.banner-text h3 {
    background: rgba(0, 44, 145,.3);
    padding: 4px;
    border-radius: 5px;
    font-size: 25px;
    font-style: italic;
    color: white;
    max-width: 276px;
    margin: auto;
    text-transform: capitalize;
}

.banner-text{
    opacity: 0;
    visibility: hidden;
}
.banner:hover .banner-text{
    opacity: 1;
    visibility: visible;
}



.about{
    background:#f7f7f7;
    padding: 20px 0;

}
.about h2 {
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}
.about p{
    max-width: 530px;
    margin: auto;
    font-style: italic;
    font-size: 17px;
    margin-top: -10px;
}
.service{
    background: #ecf0f1;
}
.service samp{
    font-size: 30px;
    padding: 15px;
    margin: auto;
    margin-top: auto;
    background: #3498db;
    line-height: 15px;
    border-radius: 25px 0px;
    margin-top: 10px;
    color: white;

}  
.service h2{
    font-size: 35px;
    }
.service p{
    font-size: 25px;
}

.containe{
    background: #ecf0f1;
}
.containe img{
    width: 180px;
    height: auto;
    padding: 5px;
}
.containe p{
    font-size: 19px;
}

.containe ul{
    padding: 0;
}
.containe ul li{
    display: inline-block;
    list-style: none;
}
.containe ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 35px;
    border-top: 3px solid #ddd;
    border-radius: 5px;
    background: #ecf0f1;
    font-size: 20px;
    margin-top: 1px;
}
.containe ul li a:hover{
    background: #bdc3c7;
}
.contact{
    background: #ecf0f1;
}

.contact strong{
    background: #bdc3c7;
    font-style:oblique;
    font-size: 30px;
    border-radius: 5px;
    display:block;

}
.footer{
    background: #2c3e50;
    color: white;
    padding: 3px 0;
    
}
.footer p{
    margin: 0;
    font-style: italic;
  

}
.footer a{
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    color: white;
}